<a href="https://colab.research.google.com/github/EkanshSaraf/WebScrapePopulationData/blob/main/WebScrapePopulationData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import urllib.request
import time
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
from urllib.request import urlopen
import re

#url = 'https://en.wikipedia.org/wiki/List_of_cities_in_India_by_population'
url = 'https://en.wikipedia.org/wiki/List_of_towns_in_India_by_population'
html = urlopen(url) 
soup = BeautifulSoup(html, 'html.parser')

In [ ]:
def process_num(num):
  return int(re.sub(r'[^\w\s.]','',num))

In [ ]:
rank = []
state = []
town = []
population = []

tables = soup.find_all('table')

for table in tables:
  rows = table.find_all('tr')

  for row in rows:
    cells = row.find_all('td')

    if len(cells)>3:
      #rank.append(int(cells[0].text))

      state.append(cells[1].text.strip())

      town.append(cells[0].text.strip())

      population.append(process_num(cells[3].text.strip()))

In [ ]:
df = pd.DataFrame(list(zip(state,town,population)),columns=['State','Town','Population'])
len(df)
#df.to_excel('Population Data.xlsx')
#files.download('Population Data.xlsx')

986

In [ ]:
df.head()

           State      Town  Population
0  Uttar Pradesh  Achhnera       22781
1        Gujarat    Adalaj       11957
2         Kerala     Adoor       29171
3      Karnataka     Adyar        7034
4    West Bengal      Adra       14956

In [ ]:
from google.colab import files
uploaded = files.upload()